.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #fff;
    color: black;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    font-size: 1.1em;
}

.navigation-menu {
    margin: 0 auto;
}

.navigation-menu ul {
    display: flex;
    padding: 0;
    list-style-type: none;
}

.navigation-menu li {
    padding: 30px;
}

.navigation-menu li a {
    width: 100%;
    text-align: center;
}

.nav-highlight {
    text-decoration: none;
    padding: 5px;
}

.nav-no-highlight {
    background-color: #a9d9b956;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}

.nav-no-highlight-red {
    background-color: #d9a9a956;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}

.hamburger {
    /* removes default border on button element */
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    /* positions the icon to the right and center aligns it vertically */
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger:hover {
    background-color: #2642af;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navigation-menu ul {
        /* navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar) */
        position: absolute;
        top: 60px;
        right: 0;
        /* stacks the li tags vertically */
        flex-direction: column;
        /* makes menu span full height and width */
        width: 100%;
        height: calc(100vh - 77px);
        background-color: white;
        border-top: 1px solid black;
        display: none;
    }
    .navigation-menu li {
        /* centers link text and strips off margin */
        text-align: center;
        margin: 0;
    }
    .navigation-menu li a {
        color: black;
        /* increases the surface area of the anchor tag to span the full width of the menu */
        width: 100%;
        padding: 1.5rem 0;
    }
    .navigation-menu li:hover {
        background-color: #eee;
    }

    .navigation-menu.expanded ul {
        display: block;
    }
}
