@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew&family=Open+Sans:wght@300&display=swap');

BODY {
    background-color: white;
    background: url(../assets/bg2.png);
    direction: rtl;
    font-family: 'Noto Sans Hebrew', sans-serif;
    height: 100%;
    margin: 0;
}

main {
    padding: 1em;
}

.wrapper {
    margin-bottom: 2em;
}

a {
    color: black;
}

footer {
    background-color: #fff4d9;
    display: flex;
    flex-flow: row wrap;
    font-size: 0.75em;
    padding: 0 1em;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

footer a {
    text-decoration: none;
}

.footer_left {
    width: 33.33333%;
    text-align: left;
}

.footer_center {
    width: 33.33333%;
    text-align: center;
}

.footer_right {
    width: 33.33333%;
    text-align: right;
}

.text-center {
    text-align: center;
}
