/* Form */
.newRecipe form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 5px 1px #eaeaea;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
}

.newRecipe textarea {
    resize: none;
}

.methodNumber {
    padding: 5px;
    margin-left: 5px;
    background-color: #a9d9b9;
    border-radius: 5px;
    color: white;
    height: fit-content;
    text-align: center;
}

.methodNumber:hover {
    background-color: red;
}

.red {
    background-color: red;
}

.ha-screen-reader {
    width: var(--ha-screen-reader-width, 1px);
    height: var(--ha-screen-reader-height, 1px);
    padding: var(--ha-screen-reader-padding, 0);
    border: var(--ha-screen-reader-border, none);
    position: var(--ha-screen-reader-position, absolute);
    clip: var(--ha-screen-reader-clip, rect(1px, 1px, 1px, 1px));
    overflow: var(--ha-screen-reader-overflow, hidden);
}

.field__input {
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);

    background-color: transparent;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    font-family: inherit;
    font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder {
    color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
    color: var(--uiFieldPlaceholderColor);
}

.field {
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);
    --uiFieldBorderColorActive: var(
        --fieldBorderColorActive,
        rgba(22, 22, 22, 1)
    );

    display: var(--fieldDisplay, inline-flex);
    position: relative;
    font-size: var(--fieldFontSize, 1rem);
    margin: 5px;
}

.field__input {
    box-sizing: border-box;
    width: var(--fieldWidth, 100%);
    height: var(--fieldHeight, 3rem);
    padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight)
        var(--fieldPaddingBottom, 0.5rem) var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid
        var(--fieldBorderColor, rgba(0, 0, 0, 0.25));
}

.field_textarea {
    height: var(--fieldHeight, 6rem);
    padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight)
        var(--fieldPaddingBottom, 0.5rem) var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid
        var(--fieldBorderColor, rgba(0, 0, 0, 0.25));
}

.field__input_ing {
    box-sizing: border-box;
    width: var(--fieldWidth, 100%);
    height: var(--fieldHeight, 3rem);
    padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight)
        var(--fieldPaddingBottom, 0.5rem) var(--uiFieldPaddingLeft);
    border: 0;
    border-bottom: var(--uiFieldBorderWidth) solid
        var(--fieldBorderColor, rgba(0, 0, 0, 0.25));
}

.field__input:focus,
.field__input_ing:focus {
    outline: none;
}

.field__input::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.field_textarea::-webkit-input-placeholder {
    opacity: 1;
}

.field__input::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.field__input:focus::-webkit-input-placeholder {
    opacity: 1;
    transition-delay: 0.2s;
}

.field__input:focus::-moz-placeholder {
    opacity: 1;
    transition-delay: 0.2s;
}

.field__label-wrap {
    box-sizing: border-box;
    pointer-events: none;
    cursor: text;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.field__label-wrap::after {
    content: '';
    box-sizing: border-box;
    /* width: 100%; line animation*/
    height: 0;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.field__input:focus ~ .field__label-wrap::after {
    opacity: 1;
}

.field__label {
    position: absolute;
    right: var(--uiFieldPaddingRight);
    top: calc(50% - 0.5em);

    line-height: 1;
    font-size: var(--fieldHintFontSize, inherit);

    transition: top 0.2s cubic-bezier(0.9, -0.15, 0.1, 1.15),
        opacity 0.2s ease-out, font-size 0.2s ease-out;
    will-change: bottom, opacity, font-size;
}

.field__input:focus ~ .field__label-wrap .field__label,
.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label {
    --fieldHintFontSize: var(--fieldHintFontSizeFocused, 0.75rem);
    top: var(--fieldHintTopHover, 0.25rem);
}

.field__label-wrap {
    overflow: hidden;
}

.field__label-wrap::after {
    border-bottom: var(--uiFieldBorderWidth) solid
        var(--uiFieldBorderColorActive);
    transform: translate3d(-105%, 0, 0);
    will-change: transform, opacity;
    transition: transform 0.285s ease-out 0.2s, opacity 0.2s ease-out 0.2s;
}

.field__input:focus ~ .field__label-wrap::after {
    transform: translate3d(0, 0, 0);
    transition-delay: 0;
}

.field {
    --fieldBorderColor: #ffe6af;
    --fieldBorderColorActive: #f7ac0a;
}

.MultiSelect {
    padding: 2px;
    border-bottom: 2px solid #ffe6af;
}

.MultiSelect .dark div span {
    margin-right: 0.5em;
}

/*  */

/* Add Ingredient */
.flex_ingredients {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.ingredient {
    width: 52%;
    padding-right: 2%;
}

.ingredient_qty {
    width: 20%;
}

.ingredient_unit {
    width: 22%;
    padding-right: 2%;
}

/*  */

/* Ingredients List */
.ingredients_list {
    display: flex;
    flex-direction: row;
    padding: 5px 5%;
    text-align: right;
}

.ingredient_details {
    width: 80%;
}

.ingredient_cancel {
    width: 5%;
}
/*  */

/* Buttons */

.icon-add-ing-btn {
    align-self: center;
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
}

.add-ing-btn:hover {
    width: 120px;
}

.add-ing-btn::before,
.add-ing-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: '';
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: seagreen;
}

.add-ing-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-ing-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.icon-btn:focus {
    outline: none;
}

.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
}

.add-ing-btn:hover::before,
.add-ing-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}

.add-ing-btn:hover .btn-txt {
    opacity: 1;
}

.add-ing-icon::after,
.add-ing-icon::before {
    transition: all 0.2s ease-in-out;
    content: '';
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: seagreen;
    overflow: hidden;
}

.add-ing-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.add-ing-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-ing-btn:hover .add-ing-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.add-ing-btn:hover .add-ing-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.button_add_recipe {
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin: 20px auto;
    width: fit-content;
}

.button_add_recipe:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button_add_recipe:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button_add_recipe:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}
/*  */
